body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.site-wrap {
    max-width: 900px;
    margin: 0 auto;
    padding: 4rem;
    display: flex;
    text-align: center;
}

.logo {
    width: 300px;
    margin: 0 auto 2rem;
}

h1 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;

    span {
        font-size: 2.369em;
        display: block;
        margin-top: 0.5em;
    }
}

p {
    margin: 2rem 0;
    font-weight: 600;
    background: #F8FFE5;
    padding: 1em;
}

label {
    display: block;
    text-align: left;
}

#mc_embed_signup {
    max-width: 400px;
    margin: 0 auto;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 0.5em;
    font-size: 1.333rem;
    line-height: 1.3;
    margin: 0.5em 0 2em;
    border: solid 1px #999;
}

.button {
    width: 100%;
    background: #CFE7FF;
    -webkit-appearance: none;
    appearance: none;
    color: #1F4770;
    border: none;
    outline: none;
    border-radius: .25rem;
    padding: 0.5em;
    font-size: 1rem;
    line-height: 1.3;
    text-align: center;
    transition: background-color 80ms ease-in-out;
}

.button:hover {
    background: #E5F2FF;
}

.button:active {
    background: #1F4770;
    color: #CFE7FF;
}


.select {
    color: black;
    width: 100%;
    padding: 0.5em;
    font-size: 1.333rem;
    line-height: 1.3;
    margin: 0.5em 0 2em;
    border: solid 1px #999;
    max-width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxNyAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjEwMDIgMTAuMjU0M0M5LjMwMjY5IDExLjE3NTIgNy44NzQwNiAxMS4xNzUyIDcuMDc2NTIgMTAuMjU0M0wxLjA2MjAyIDMuMzA5MzFDLTAuMDU5NzM0MSAyLjAxNDAyIDAuODYwMzcyIDEuNzI0NjhlLTA2IDIuNTczODggMS41NzQ4OGUtMDZMMTQuNjAyOSA1LjIzMjY5ZS0wN0MxNi4zMTY0IDMuNzM0N2UtMDcgMTcuMjM2NSAyLjAxNDAyIDE2LjExNDcgMy4zMDkzMUwxMC4xMDAyIDEwLjI1NDNaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K);
    background-repeat: no-repeat, repeat;
    background-position: right .75em top 50%, 0 0;
    background-size: .5em auto, 100%;
}

.select::-ms-expand {
    display: none;
}



.select option {
    font-weight: normal;
}

@media screen and (max-width: 500px) {

    .site-wrap {
        padding: 2rem;
    }

    .logo {
        width: 200px;
    }

    h1 {
        font-size: 1rem;

        span {
            font-size: 1.75em;
        }
    }

    input[type="text"],
    input[type="email"] {
        font-size: 1rem;

    }
}